@()(implicit request: Request[_])

@main() {

    <div id="tweets"></div>

    <script type="text/javascript">

        function appendTweet(text) {
            var tweet = document.createElement("p");
            var message = document.createTextNode(text);
            tweet.appendChild(message);
            document.getElementById("tweets").appendChild(tweet);
        }


        console.log("Welcome");
        var url = "@routes.HomeController.tweets().webSocketURL()";
        var socket = new WebSocket(url);
        socket.onmessage = function (event) {
            console.log(event);
            var data = JSON.parse(event.data);
            appendTweet(data.text);
        };

        socket.onopen = function() {
            console.log("Socket is open");
            socket.send("subscribe");
        };
        socket.onclose = function() {
            appendTweet("WARNING: Connection with the server lost");
        }


    </script>

}
